@font-face {
  font-family: 'AvenirNextLTPro';
  src: url('/fonts/AvenirNextLTPro.woff2') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'AvenirNextLTPro';
  src: url('/fonts/AvenirNextLTProBold.woff2') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'AvenirNextLTPro';
  src: url('/fonts/AvenirNextLTProLight.woff2') format('truetype');
  font-weight: 300;
  font-style: normal;
}

body {
    margin: 0;
    font-family: 'AvenirNextLTPro', sans-serif;
    background-color: #F4F3F1;
    color: #1B130E;
    line-height: 1.6;
  }
  
  .container {
    max-width: 80rem;
    margin: 0 auto;
    padding: 0 1rem;
  }
  
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0;
  }
  
  .logo {
    height: 60px;
  }
  
  .hero {
    text-align: center;
    padding: 8rem 1rem;
    background-size: cover;
    background-position: center;
  }
  
  .main-title {
    font-size: 3rem;
    margin-bottom: 2rem;
    color: white;
    text-shadow: 2px 2px 6px rgba(0,0,0,0.5);
    font-weight: 400;
  }
  
  .sub-title {
    font-size: 2rem;
    font-weight: 300;
    color: white;
    text-shadow: 2px 2px 6px rgba(0,0,0,0.5);
    font-weight: 400;
  }
  
  .footer {
    text-align: center;
    padding: 3rem 1rem;
    background-color: #F4F3F1;
  }
  
  .divider-logo {
    height: 60px;
    margin-bottom: 1rem;
  }
  
  .company-info {
    font-size: 0.8rem;
    color: #1B130E;
  }
  